<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Liberal | Open Source Music Streaming Client</title>
    <base href="http://localhost:9261/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/montserrat.css"> 
    <link rel="stylesheet" href="/css/font-awesome.css"> 
    <link rel="stylesheet" href="/css/bootstrap-grid.css"> 
    <link rel="stylesheet" href="/css/liberal.css"> 
    <script src="js/vendor/moment.js"></script>
    <script src="js/vendor/vibrant.js"></script>
    <script src="js/vendor/slick.min.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/numeral.js"></script>
    <script src="js/vendor/idb.js"></script>
    <script src="js/vendor/i18n.js"></script>
    <script src="js/vendor/sprintf.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/liberal.js"></script>
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>
    <template type="text/template" id="playlistTemplate">
     
        <div style="flex: 0 0 128">
            <sp-image src="<%=obj.images[0].url%>" width="128" height="128"></sp-image> 
        </div>
        <div style="flex: 2">
           <h3><%=title%>  <%= strReleaseDate != '' ? ' <span><%=('+  strReleaseDate + ')' : '' %></h3>
            <% if ('speaker' in obj) { %>
            <p>Spoken by <sp-link uri="bungalow:speaker:<%=obj.speaker.id%>"><%=obj.speaker.name%></sp-link></p>
            <% } %>
            <%=(obj.description ? '<p>' + obj.description + '</p>' : '') %>
            <sp-trackcontext fields="<%=fields || 'name,artists,album,user,added_at' %>" data-max-rows="<%=maxRows%>" data-context-artist-uri="<%=dataContextUri%>" uri="<%= obj.uri + ':track'%>"></sp-trackcontext>
            <% /*obj.copyrights.map((c) => { %>
                <span style="opacity: 0.5">'<%= c.type %>  <%=c.text%></span>
           <% });*/ %>
        
        </div>
    </template>
    <template type="text/template" id="headerTemplate">
      <div style="flex: 0 0 <%=width%> ;">
        <sp-image width="<%=width%>" height="<%=height%>" src="<%=object.image_url %>"></sp-image>
      </div>
      <div style="flex: 1">
        <small style="display: none"><%=_(object.type) %></small>
        <h3> <%= title %>
        <span style="float: right"><%= strFollowers %></span>
        </h3>
        <p style="opacity: 0.5"><%= (object.description ? object.description : '') %></p>
      </div>
    </template>
    <div class="body-root splatter"></div>
    <div class="body"></div>
  </body>
</html>
