
sp-appfooter button, input[type=range]::-webkit-slider-runnable-track {
  box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, .5);
  border-radius: 28pt;
  background-image: url('/themes/chromify/img/btn_gloss.png') !important;
  background-size: cover;
  margin-right: 6pt;
}
button.fa-play {
    -webkit-transform: scale(1.08);
}
sp-appfooter button:active {
    opacity: 0.5;
}
input[type=range]{
    -webkit-appearance: none;
    background: transparent;
}
input[type=range]::-webkit-slider-thumb {
    background: transparent;
}


img, th {
  -webkit-filter: hue-rotate( calc(((1-var(--primary-hue) + deg)) )) saturate(var(--primary-saturation));
  
}





sp-tabbar {
  padding-top: 6pt;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-image:  url('/themes/wmp_10/images/tabbar.png');

}
sp-rightsidebar     {
  background: linear-gradient(to bottom, #366ab3, #55aaff);
    color: white;
}