sp-appfooter button, sp-appheader button, input[type=range]::-webkit-slider-runnable-track {
  box-shadow: 0pt 0pt 3pt rgba(0, 0, 0, .5);
  border-radius: 28pt;
  background-image: url('/themes/chromify/img/btn_gloss.png') !important;
  background-size: cover;
  margin-right: 6pt;
  color: rgba(0, 0, 0, .5);
  -webkit-transition: box-shadow 0.5s, opacity 0.5s;
}
button:hover {
    box-shadow:0pt 0pt 3pt rgba(0, 0, 0, .5), 0pt 0pt 25pt rgba(255, 255, 255, .8);
}
button.fa-play, button.fa-pause {
    -webkit-transform: scale(1.08);
}
button:active {
    opacity: 0.5;
}
input[type=range]{
    -webkit-appearance: none;
    background: transparent;
}
input[type=range]::-webkit-slider-thumb {
    background: transparent;
}