:root {
    --background-color: #363636;
    --foreground-color: rgba(255, 255, 255, .8);
    --sidebar-background-color: #393939;
    --brand-primary: #FF9800;
}


body {
    background-color: var(--background-color);
    color: var(--foreground-color);
}
*:focus {
    outline: none;
}
sp-divider {
    background-color: rgba(255, 255, 255, .1);
}
input {
    border: 3pt solid white;
    padding: 3pt;
    color: var(--foreground-color);
    background-color: var(--background-color);
}
input:focus {
    border: 3pt solid var(--brand-primary);
}
sp-sidebar {
    background-color: var(--sidebar-background-color);
    border-right: 1px solid black;
    
}
table thead tr td {
    background-color: #888;
}
sp-trackcontext table {
    border-collapse: collapse;
    width: 100%;
}
sp-trackcontext table tbody tr:nth-child(2n-1) td {
    background-color: rgba(0, 0, 0, .1);
}
sp-link, a {
    color: rgba(255, 255, 255, .9);
    text-decoration: none;
}
sp-link:hover, a:hover {
    color: white;
    text-decoration: underline;
}

h1, h2, h3, h4 {
    margin: 0pt;
    margin-bottom: 6pt;
}