:root {
    --header-height: 0pt;
    --footer-height: 0pt;
    --sidebar-width: 100pt;
}
body,html {
    width: 100%;
    height: 100%;
    padding: 0pt !important;
    font-family: "Tahoma";
    font-size: 11pt;
}
 sp-chrome {
    left: 0pt;
    top: 0pt;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    position: fixed;
}

img {
    box-shadow: 1pt 1pt 1pt rgba(0, 0, 0, .2);
}

input {
}

sp-divider {
    padding: 13pt;
    display: block;
    width: 100%;
}
td {
    padding: 3pt;
}
sp-link {
    cursor: hand;
}
sp-header table td, sp-album table td {
    padding: 6pt;
}
sp-sidebar {
    width: var(--sidebar-width);
    padding: 20pt;
}

sp-viewstack {
    flex-grow: 2;
    overflow: scroll;
}


sp-viewstack, sp-view, .sp-view {
}